<!DOCTYPE html>
<html>
	<head>

		<title>Holdem Or Foldem</title>

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<!-- Custom Javascript -->
		<script type="text/javascript" src="js/script.js"></script>

		<script type="text/javascript">
			window.onload = randomFunnyImage();
		</script>
	</head>

	<body onload="randomFunnyImage()">

		<div id="banner">
			<div id="logo-link">
				<a href="/index.html">
					<h1>Holdem Or Foldem</h1>
				</a>
			</div>
			<table id="login-form">
				<tr>
					<td>
						<p>Username</p>
					</td>
					<td>
						<p>Password</p>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="username">
					</td>
					<td>
						<input type="text" id="password">
					</td>
					<td>
						<input type="submit" value="Log In" onclick="logIn()">
					</td>
				</tr>
			</table>
		</div>

		<button onclick="showUserObject()">Show User Object</button>

		<div id="index-main">
			<div id="index-main-left">
				<h2>Quiz yourself on the odds of starting holdem hands!</h2>
				<h3>Practice a few quick hands with no account needed or create a new user and log some stats!</h3>
				<h3>Learn how much odds can change depending on the number of opponents you have!</h3>
				<h3>Your history can be stored and analyzed to help you find your strongest and weakest perceptions!</h3>
			</div>

			<div id="index-main-right">
				<h2>Sign up for free!</h2>
				<table id="new-user-form">
					<tr>
						<td>
							<p>New Username</p>
						</td>
						<td>
							<input type="text" id="new-username">
						</td>
					</tr>
					<tr>
						<td>
							<p>New Password</p>
						</td>
						<td>
							<input type="text" id="new-password">
						</td>
					</tr>
					<tr id="create-account-table-row">
						<td id="create-account-button">
							<input type="submit" value="Create Account" onclick="newUser()">
						</td>
					</tr>
				</table>
				<div id="funny-image">
				</div>
			</div>

		</div>


	</body>






	<footer></footer>

</html>