<!DOCTYPE html>
<html>
	<head>

		<title>Holdem Or Foldem</title>

		<script type="text/javascript">
			window.onload = randomFunnyImage();
		</script>

	</head>

	<body onload="randomFunnyImage()">

<!-- only used in dev
	 @JAS REMOVE BEFORE FINAL
		<button type="button" onclick="showUserContent()">Show User</button>
		<button type="button" onclick="showIndexContent()">Show Index</button>
		<button onclick="showCurrentUserObject()">Show User Object</button>
-->

<!--
												INDEX
										USER CREATION / LOG IN
-->

		<div id="index">

			<div id="banner">
				<div id="index-logo-link" onclick="showIndexContent()">
					<a href="#">
						<h1>Holdem Or Foldem</h1>
					</a>
				</div>
				<table id="login-form">
					<tr>
						<td>
							<p>Username</p>
						</td>
						<td>
							<p>Password</p>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" id="username">
						</td>
						<td>
							<input type="password" id="password">
						</td>
						<td>
							<input type="submit" value="Log In" onclick="logIn()">
						</td>
					</tr>
				</table>
			</div>

			<div id="index-main">
				<div id="index-main-left">
					<h2>Quiz yourself on the odds of starting holdem hands!</h2>
					<h3>Learn how much your odds change depending on the number of opponents you have!</h3>
					<h3>Your history will be stored for your analysis!</h3>
					<h3>Find out what your best and worst hands are!</h3>
				</div>

				<div id="index-main-right">
					<h2>Sign up for free!</h2>
					<div id="new-user-form">
						<table>
							<tr>
								<td>
									<p>New Username</p>
								</td>
								<td>
									<input type="text" id="new-username">
								</td>
							</tr>
							<tr>
								<td>
									<p>New Password</p>
								</td>
								<td>
									<input type="password" id="new-password">
								</td>
							</tr>
							<tr id="create-account-table-row">
								<td id="create-account-button">
									<input type="submit" value="Create Account" onclick="newUser()">
								</td>
							</tr>
						</table>
					</div>
					<div id="funny-image">
					</div>
					<div id="funny-image-button">
						<input type="submit" value="More Funny Now!" onclick="randomFunnyImage()">
					</div>
				</div>

			</div>
		</div>

<!--
												USER HOME
										USER PLAY / ANALYSIS / LOG OUT
-->
		<div id="userHome">

			<div id="banner">
				<div id="user-logo-link" onclick="showIndexContent()">
					<a href="#">
						<h1>Holdem Or Foldem</h1>
					</a>
				</div>
				<input id="logout-button" type="submit" value="Log Out" onclick="logOut()">
			</div>

			<div id="play-analysis">
				<div id="play-half">
					<h2>Play</h2>
					<div id="hole-cards">
						<div id="first-hole-card">
							<img src="/assets/faceDown.png" />
						</div>
						<div id="second-hole-card">
							<img src="/assets/faceDown.png" />
						</div>
						<div id="begin-play">
							<input id="begin-button" type="submit" value="Begin Play!" onclick="beginPlay()">
						</div>
					</div>
					<div id="play-options">
						<table id="">
							<tr>
								<td>
									<p># of Opponents</p>
								</td>
								<td>
									<select id="numOpponentSelector" onchange="selectNumOpponents()">
  			  							<option value="1">One</option>
  			 							<option value="2">Two</option>
  			  							<option value="3">Three</option>
  			  							<option value="4">Four</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<p>You Predicted:</p>
								</td>
								<td>
									<div id="you-predicted"></div>
								</td>
							</tr>
							<tr>
								<td>
									<p>The Answer:</p>
								</td>
								<td>
									<div id="the-answer"></div>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div id="analysis-half">
					<h2>Analysis</h2>
					<div id="analysis-guidance"
						<p>This program understands hands in the form of "hand" + "suited or unsuited" + "number of opponents".</p>
						<p>&nbsp &nbsp &nbsp &nbsp For example AKs2 would be Ace King suited with two opponents.</p>
						<p>Pocket pairs do not include "suited or unsuited" (as they are always unsuited).</p>
						<p>&nbsp &nbsp &nbsp &nbsp For example, JJ3, not JJo3.</p>
						<p>Cards are named as follows: &nbsp 2, 3, 4, 5, 6, 7, 8, 9, T, J, Q, K, A</p>
					</div>
					<div id="hand-histories-third">
						<button onclick="handHistories()">Show Hand Histories</button>
						<div id="hand-histories"></div>
					</div>
					<div id="all-hand-variances-third">
						<button onclick="allHandVariances()">Show Hand Variances</button>
						<div id="hand-variances"></div>
					</div>
					<div id="all-hand-variance-ranges-third">
						<button onclick="allHandVarianceRanges()">Show Hands in Variance Ranges</button>
						<div id="all-hand-variance-ranges">
							<p></p>
							<h2>0-10</h2>
							<h2>10-20</h2>
							<h2>20-30</h2>
							<h2>30-40</h2>
							<h2>40-50</h2>
							<h2>50-60</h2>
							<h2>60-70</h2>
							<h2>70-80</h2>
							<h2>80-90</h2>
							<h2>90-100</h2>
						</div>
						</div>
					</div>

				</div>

			</div>

		</div>

	</body>

	<footer></footer>

</html>