html, body {
    margin: 0;
    height: 100%;
}

#banner {
	width: 100%;
	height: 12%;
	background-color: #3a5795;
	border-bottom: 2px solid #133783;
}

/*
			INDEX
	USER CREATION / LOG IN
*/

#index {
	height: 100%;
}

#index-logo-link {
	padding-left: 14%;
	height: 100%;
	float: left;
}

#index-logo-link a {
	text-decoration: none;
}

#index-logo-link h1 {
	font-size: 41px;
	color: whitesmoke;
	margin-top: 8%;
}

#login-form {
	padding-right: 14%;
	float: right;
}

#login-form p {
	color: whitesmoke;
}

#index-main {
	background-color: #edf0f5;
	width: 100%;
	height: 88%;
}

#index-main-left {
	width: 50%;
	height: 100%;
	float:left;
}

#index-main-left h2 {
	width: 74%;
	padding-top: 17%;
	padding-left: 16%;
	text-align: center;
	line-height: 133%;
}

#index-main-left h3 {
	width: 63%;
	padding-top: 5%;
	padding-left: 21%;
	text-align: center;
	line-height: 133%;
}

#index-main-right {
	width: 50%;
	height: 100%;
	float: right;
}

#index-main-right h2 {
	padding-top: 10%;
	padding-left: 35%;
}

#index-main-right table {
	width: 290px;
}

#new-user-form {
	width: 290px;
	padding-left: 28.6%;
}

#create-account-table-row {
	float: right;
	width: 0px;
}

#funny-image {
	padding-left: 26%;
}

#funny-image img {
	border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 260px;
    height: 260px; 
}

#funny-image-button {
	padding-left: 40%;
}

/*
		 	USER HOME
	USER PLAY / ANALYSE / LOG OUT
*/

#userHome {
	display: none;
	height: 100%;
}

#user-logo-link {
	padding-left: 14%;
	height: 100%;
	float: left;
}

#user-logo-link a {
	text-decoration: none;
}

#user-logo-link h1 {
	font-size: 41px;
	color: whitesmoke;
	margin-top: 8%;
}

#logout-button {
	margin-right: 20%;
	margin-top: 35px;
	float: right;
}

#play-analyse {
	height: 88%;
	width: 100%;
}

#play-half {
	width: 50%;
	height: 100%;
	float:left;
	background-color: lightblue;
}

#play-half h2 {
	font-size: 25px;
	color: black;
	text-align: center;
}

#hole-cards {
	padding-left: 10%;
	float: left;
	width: 200px;
	height: 150px;
}

#first-hole-card {
	width: 100px;
	height: 100px;
	float: left;
}

#second-hole-card {
	width: 100px;
	height: 100px;
	float: left;
	padding-bottom: 10px;
}

#begin-button {
	margin-left: 49px;
}

#prediction-submit {
	margin-left: 5px;
}

#results-half {
	width: 50%;
	height: 100%;
	float:left;
	background-color: lightcoral;
}

#results-half h2 {
	font-size: 25px;
	color: black;
	text-align: center;
}

#results-half-left {
	width: 50%;
	float:left;
}

#hand-histories-half {
	width: 50%;
	float:left;
}

#all-variances-half {
	width: 50%;
	float:left;
}

#results-half-right {
	width: 50%;
	float:left;
}


